
.navbar .active a {
  font-size: large;
  font-weight: 500;
  font-size: 20px;
  color: rgb(245, 245, 245) !important;
}
.navbar ul li a:hover {
  font-weight: 600;
  color: rgb(207, 197, 46) !important;
}
.navbar ul li a {
  margin-left: 10px;
  font-size: 20px;
}
.logo {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
}

.aboutImg {
  width: 430px;
  height: 430px;
  border: none;
  border-radius: 50%;
  /* margin-top: 10px; */
  margin-left: 25%;
  margin-bottom: 15px;
}

.text-center {
  color: floralwhite;
  /* font-family: monospace; */
}
.section {
  text-align: center;
  padding: 60px 90px;
}

.section-light {
  background-color: #fdeeee;
  background-image: url("download (1).jfif");
  color: rgb(233, 216, 216);
}

.section-dark {
  background-color: #033158;
  color: #ddd;
  margin-top: 30px;
}

.container {
  width: 90%;
  max-width: 80rem;
  margin-top: 0em;
  padding: 0;
  text-align: right;
}
.accordion-item {
  background-color: #033158;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;

  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  /* font-family: monospace; */
  color: #ddd;
}
.accordion-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #033158;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link:hover {
  color: rgb(126, 196, 243);
  text-decoration: none;
}
.accordion-link i {
  color: #e7e2ee;
  padding: 0.5rem;
}

.accordion-link .ion-md-remove {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
}
.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #f1f52b;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.answer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  padding: 2rem;
  text-align: left;
}
@media (max-width: 576px) {
  .answer p{
    font-size: 0.7rem;
  }
}

.accordion-item:target .answer {
  max-height: 15rem;
}

.accordion-item:target .accordion-link .ion-md-add {
  display: none;
}
.accordion-item:target .accordion-link .ion-md-remove {
  display: block;
}

/* FOOTER */

.footer {
  background: #0d0d0e;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
.footer ul {
  display: flex;
  justify-content: center;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}

@media (max-width: 991px) {
  .logo {
    margin-left: 0px;
    text-align: left;
  }
  .navbar-custom ul {
    margin-left: 150px;
  }
  .aboutImg {
    width: 300px;
    height: 300px;
    margin: 10px 20px 10px 20px;
  }
  .faqs {
    display: none;
  }
  .footer {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer ul {
    margin-bottom: 20px;
  }
}
