/* Universal CSS */
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "lato", sans-serif;
  line-height: 1.7;
  color: #666;
}

/* Navbar-Section */

.navbar-default {
  background: transparent !important;
  border: none;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar ul li a {
  color: #ffffff !important;
}

.navbar .active a {
  color: #000000 !important;
}

/* Background-image Styling */

.image1,
.image2,
.image3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image1 {
  background-image: url(images/car1.jpg);
  min-height: 100%;
}

.image2 {
  background-image: url(images/car2.jpg);
  min-height: 100%;
}

.image3 {
  background-image: url(images/car3.jpg);
  min-height: 100%;
}

/* Section */

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #ffffff;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.prtext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 7px;
  color: #fff;
}

.border {
  background-color: #111;
  padding: 20px;
}

.border.trans {
  background-color: transparent;
}

footer {
  background-color: #111;
  color: #ffffff;
}

@media (max-width: 468px) {
  .image1,
  .image2,
  .image3 {
    background-attachment: scroll;
  }

  .prtext {
    font-size: 15px;
    letter-spacing: 4px;
  }

  .section {
    padding: 50px 10px;
  }
}